.top-loading-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px; /* Adjust height as needed */
    background-color: rgb(235, 119, 18);
    z-index: 9999; /* Make sure it's on top of everything */
}

.top-loading-bar {
    height: 100%;
    background-color: red;
    transition: width 0.3s ease; /* Add animation effect */
}
